{% extends 'base.html' %}
{% load static %}
{% block assets %}
    <script src="{% static 'js/validator/validator.js' %}"></script>
{% endblock %}
{% block content %}
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Categoria de Veículos
                   </h3>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> {{ label }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <form action="{% url 'categoria_new' %}" method="post" class="form-horizontal form-label-left" novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ categoria.pk }}">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> ID
                                    </label>
                                    <div class="col-md-1 col-sm-1 col-xs-3">
                                        <input id="pk" class="form-control col-md-7 col-xs-12"  type="text"  disabled value="{{ categoria.pk }}">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tipo <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="name" class="form-control col-md-7 col-xs-12" value="{{ categoria.nome }}"
                                               data-validate-length-range="2,50"  name="nome" placeholder="ex: Carro" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">CNH Permitida <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="tipo_cnh" class="form-control col-md-7 col-xs-12" value="{{ categoria.tipo_cnh }}"
                                               data-validate-length-range="1,20"  name="tipo_cnh" placeholder="ex: (A), (B), (A,B)" required="required" type="text">
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
{#                                        <button type="submit" class="btn btn-primary">Cancelar</button>#}
                                        <button id="send" type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
                <br />
            </div>
        </div>
        <script>

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        var validate = validator;

        var msg = {
                invalid			: 'input invalído',
                empty			: 'campo obrigatório',
                min				: 'input pequeno',
                max				: 'input grande',
                number_min		: 'muito pequeno',
                number_max		: 'muito grande',
                url				: 'url invalída',
                number			: 'não é um número',
                email			: 'endereço de email invalído',
                email_repeat	: 'emails não coincidem',
                password_repeat	: 'passwords não coincidem',
                repeat			: 'não combina',
                complete		: 'input incompleto',
                select			: 'Por Favor selecione uma opção'
            };

        validate.set_messages(msg);

        $('form')
            .on('blur', 'input[required], input.optional, select.required', validate.checkField)
            .on('change', 'select.required', validate.checkField)
            .on('keypress', 'input[required][pattern]', validate.keypress);

        $('.multi.required')
            .on('keyup blur', 'input', function () {
                validator.checkField.apply($(this).siblings().last()[0]);
            });
        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);



        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validate.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });

    </script>
{% endblock %}















