									<div class="form-group ">
											  <label for="cnome" class="control-label col-lg-2">Nome Completo<span class="required">*</span></label>
											  <div class="col-lg-10">
												  <input class="form-control" id="cnome" ng-model="formData.nome_cliente" minlength="8" type="text" required />
											  </div>
										  </div>
									<div class="form-group ">
                                        <label for="ccpf" class="control-label col-lg-2">CPF</label>
										<div class="col-lg-10">
											<input class="form-control " id="ccpf" type="text" ng-model="formData.CPF_cliente" placeholder="000.000.000-00" required />
										</div>
                                    </div>
                                      <div class="form-group ">
                                          <label for="ccnh" class="control-label col-lg-2">CNH<span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control " id="ccnh" type="text" ng-model="formData.CNH_cliente" placeholder="Separar por vírgula sem espaço. Ex: A,B,C" required />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="ctelefone" class="control-label col-lg-2">Telefone<span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control" id="ctelefone" ng-model="formData.telefone_cliente" minlength="5" type="text" required />
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <label for="cemail" class="control-label col-lg-2">E-Mail<span class="required">*</span></label>
                                          <div class="col-lg-10">
                                              <input class="form-control" id="cemail" ng-model="formData.email_cliente" minlength="5" type="email" required />
                                          </div>
                                      </div>