 {% include "header.html" %}
 {% load static %}
<body>	
	<script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/cookie.js' %}"></script>
	<script>
		var app = angular.module('myapp', []);
		app.config(function($interpolateProvider) {
		$interpolateProvider.startSymbol('{[{');
		$interpolateProvider.endSymbol('}]}');
		});
		
		
		app.config(['$httpProvider',function($httpProvider){
			$httpProvider.defaults.xsrfCookieName = 'csrftoken';
			$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
		}]);
		
		'use strict';
		app.controller('indexCtrl', function($scope, $http) {		
			$http.get("{% url 'consultarIndex' %}").then(function(response) {
				$scope.myData = response.data;
			});
		});
	</script>


  <!-- container section start -->
  <section id="container" class="">
      {% include "sidebar.html" %}
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" ng-app="myapp" ng-controller="indexCtrl">   
				  <!--overview start-->
				  <div class="row">
					<div class="col-lg-12">
						<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
							<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
						</ol>
					</div>
				</div>
				<!--Veiculos Cadastrados-->  
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="info-box blue-bg">
							<div class="count">{[{ myData.veiculos }]}</div>
							<div class="title">Veiculos</div>						
						</div><!--/.info-box-->			
					</div><!--/.col-->

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="info-box blue-bg">
							<div class="count">{[{ myData.clientes }]}</div>
							<div class="title">Clientes</div>						
						</div><!--/.info-box-->			
					</div><!--/.col-->
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="info-box blue-bg">
							<div class="count">{[{ myData.locacao }]}</div>
							<div class="title">Locações</div>						
						</div><!--/.info-box-->			
					</div><!--/.col-->
			   </div>
		  </section>
      </section>
      <!--main content end-->
  </section>
  <!-- container section start -->

    <!-- javascripts -->
	<script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- nice scroll -->
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>

    <!-- custom select -->
    <script src="{% static 'js/jquery.customSelect.min.js' %}" ></script>
   
    <!--custome script for all page-->
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- custom script for this page-->
	<script src="{% static 'js/jquery.autosize.min.js' %}"></script>
	<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
	<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

  </body>
</html>
